<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SUPSEMENCE.My.MySettings.testdbConnectionString" connectionString="server=localhost;user id=mouhammad;password=droite15;database=testdb;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="SUPSEMENCE.My.MySettings.testdb1ConnectionString"
            connectionString="server=localhost;user id=mouhammad;password=droite15;database=testdb1"
            providerName="MySql.Data.MySqlClient" />
        <add name="SUPSEMENCE.My.MySettings.semencesConnectionString"
            connectionString="server=localhost;user id=mouhammad;password=droite15;database=semences"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>